
@font-face {
  font-family: projectFont;
  src: url('../assets/Queensides-3z7Ey.ttf');
}

body {
  background-color: salmon;
  margin: 0;
  background-image: url('../assets/background-image.jpg');
  overflow: hidden;
  font-family: projectFont;
}

#content {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.header {
  grid-column: 1 / -1;
  text-align: center;
  color: whitesmoke;
  font-size: 5rem;
  padding: 1rem;
}

.tab {
  font-size: 2.5rem;
  color: sandybrown;
  cursor: pointer;
  font-weight: bold;
}

.tab:hover {
  transform: scale(1.2);
}

.mainContent {
  grid-row: 3 / 6;
  grid-column: 2 / 3;
  font-size: 30px;
  width: 900px;
  line-height: 40px;
  font-style: italic;
  background-color: rgba(0,0,0,0.4);
  color: bisque;
  padding: 15px;
  border-radius: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.none {
  display: none;
}

li {
  margin: 30px;
}

