@font-face {
  font-family: projectFont;
  src: url('../assets/Authentic\ Ratatouille_PersonalUseOnly.ttf');
}

body {
  background-color: salmon;
  margin: 0;
  background-image: url('../assets/background-image.jpg');
  overflow-x: hidden;
}

#content {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.header {
  grid-column: 1 / -1;
  text-align: center;
  color: whitesmoke;
  font-family: projectFont;
  font-size: 6rem;
  padding: 1rem;
}

.tab {
  font-size: 2rem;
}


